<div id="<%= dom_id post %>">
  <div class="posted_by">
    Posted by: <%= post.customer.username %>
  </div> 
  <div class="post_title">
    <h4 id="content">
      <%= post.title %>
    </h4>
  </div>
  <div class="post_body">
    <p id="content">
      <%= post.body %>
    </p>
    <p style="margin-left: 10px;">
          Status: <strong><%= post.active? ? "Active" : "Inactive" %></strong> |
          Featured: <strong><%= @featured_ids.include?(post.id) ? "Yes" : "No" %></strong>
    </p>
    <hr>

    <div class="footer">

      <div class="actions">
        <%= button_to "Toggle Featured", toggle_featured_admin_post_path(post), method: :patch, class: "btn_toggle_featured" %> 
        <%= button_to "Delete", admin_post_path(post), method: :delete, class: "btn_delete" %>
      </div>

      <div class="date_created">
        <%= post.created_at.strftime("%B %d, %Y") %>
      </div>

    </div>

  </div>

</div>