<div id="<%= dom_id post %>">
  <div class="posted_by">
    Posted by: <%= post.customer.username %>
  </div> 
  <div class = "post_title">
    <h4 id = "content">
      <%= post.title %>
    </h4>
  </div>
  <div class = "post_body">
    <p id = "content">
      <%= post.body %>
    </p>
    
    <hr>
    
    <div class = "footer">
    
      <div class = "actions">    
      <% if post.customer_id == current_customer.id %> 
        <%= link_to "Edit", edit_customer_post_path(post), class: "btn_edit", role: "button" %>
        <%= button_to "Delete", customer_post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn_delete" %>
      <% end %>
      </div>
      
      <div class = "date_created">
        <%= post.created_at.strftime("%B %d, %Y") %>
      </div>
    
    </div>  
  
  </div>  
  
</div>
