<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Logo", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if !user_signed_in? %>
           <%= link_to "Feed", feed_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if customer_signed_in? %>
            <%= link_to "Posts", customer_posts_path, class: "nav-link" %>
          <% elsif user_signed_in? %>
            <%= link_to "Posts", admin_posts_path, class: "nav-link" %>
          <% else %>
            <%= link_to "Posts", customer_posts_path, class: "nav-link" %>
          <% end %>
        </li>  
      </ul>
      <ul class = "navbar-nav">
        <li class="nav-item dropdown">
            <span class="nav-link " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if customer_signed_in? %>
                <%= current_customer.username %> |
                <%= link_to "Log Out", destroy_customer_session_path, class: "btn_log", method: :delete %>
              <% elsif user_signed_in? %>
                <%= current_user.username %> |
                <%= link_to "Log Out", destroy_user_session_path, class: "btn_log", method: :delete %>
              <% else %>
                <%= link_to "Admin Log In", new_user_session_path, class: "btn_log" %> |
                <%= link_to "Log In", new_customer_session_path, class: "btn_log" %> | 
                <%= link_to "Sign Up", new_customer_registration_path, class: "btn_log" %>
              <% end %>
            </span>
          </li>
      </ul>
    </div> 
  </div>
</nav>